@import "tailwindcss";
@import "@fontsource-variable/cormorant-garamond/wght.css";
@import "@fontsource-variable/playfair-display/wght.css";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display Variable', serif;
}

h2 {
    font-family: 'Cormorant Garamond Variable', serif;
}