@import "tailwindcss";
@import "@fontsource/dm-mono";

@font-face {
    font-family: 'Zodiak-Light';
    src: url('/fonts/Zodiak-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-sans: "DM Mono", ui-sans-serif, system-ui, sans-serif;
    /* Colores */
    --color-fondo: #F8F6E1;
    --color-primario: #355C35;
    --font-brand: "Zodiak-Light", serif;
}


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: 'Zodiak-Light', serif;
}