---
import Layout from "@/layouts/Layout.astro"
import Section from "@/components/ui/Section.astro"
import Button from "@/components/ui/Button.astro"
---
<Layout>
  <Section align="center" justify="center" className="flex flex-col py-20 px-4">
    <h1 class="type-h1 mb-6 text-green-900">¡Gracias por tu mensaje!</h1>
    <p class="type-body mb-8 text-green-800">Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.<br>Mientras tanto, puedes seguir explorando nuestro sitio.</p>
    <Button href="/"> → Volver al inicio</Button>
  </Section>
</Layout>
