---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
import Welcome from "@/components/Welcome.astro";
---

<Layout>
	<main class="h-dvh overflow-y-scroll snap-y snap-mandatory">
		<Welcome/>
		<About/>
	</main>
</Layout>
