---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
import Contacto from "@/components/Contacto.astro";
import Servicios from "@/components/Servicios.astro";
import Welcome from "@/components/Welcome.astro";
import Inicio from "@/components/Inicio.astro";
---

<Layout>
	<main class="h-dvh overflow-y-scroll snap-y snap-proximity">
		<Welcome/>
		<Inicio/>
		<About/>
		<Servicios/>
		<Contacto/>
	</main>
</Layout>