---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="
		h-dvh w-full
		bg-[#F8F6E1]
		flex 
		justify-center
	 	">
		<img class="w-xl" src="/Logo.svg" alt="Logotipo Vivero Tres Garzas" />
	</div>
</Layout>
