---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div
		class="h-dvh w-full
		bg-[#F8F6E1]
		flex flex-col
		justify-center
		items-center
		-z-10
		"
	>
		<img class="w-64" src="/Logo.svg" alt="Logotipo Vivero Tres Garzas" />
	</div>
	<p class="bottom-4 fixed inset-0 flex items-end font-bold justify-center">Sitio en construcción</p>
</Layout>
