---
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "about");

if (!about) {
	throw new Error("About content not found");
}

const { Content } = await render(about);
---

<section
	id="about"
	class="min-h-dvh w-full flex items-end justify-start py-10 md:py-12 px-6 md:px-12 snap-start bg-[#F8F6E1] text-[#355C35]"
>
	<div class="w-full
    md:max-w-230
    flex flex-col gap-5 md:gap-6">
		<!-- TITULOS -->
		<div>
			<h2
				class="text-3xl sm:text-4xl md:text-5xl lg:text-[70px]/[80px] font-light tracking-tight"
			>
				{about.data.texto1}
			</h2>
			<h2
				class="text-3xl sm:text-4xl md:text-5xl lg:text-[70px]/[80px] font-light tracking-tight"
			>
				{about.data.texto2}
			</h2>
		</div>

		<!-- CONTENIDO -->
		<div
			class="text-base sm:text-lg md:text-xl lg:text-[30px]/[34px]
      font-extralight leading-relaxed
      tracking-wide
      w-full
      max-w-prose"
		>
			<Content />
		</div>

		<!-- BOTON -->
		<a
			href="#contact"
			class="inline-flex items-center justify-center
        self-start
        px-5 py-2 md:px-6 md:py-2.5
        text-sm sm:text-base lg:text-[35px] tracking-wide
        border border-[#355C35] rounded-full
        text-[#355C35]
        hover:bg-[#355C35] hover:text-[#F8F6E1]
        transition-all duration-300"
		>
			→ Solicitar catálogo
		</a>
	</div>
</section>
