---
import Section from "@/components/ui/Section.astro";
import Container from "@/components/ui/Container.astro";

import { getEntry, render } from "astro:content";

const about = await getEntry("about", "about");

if (!about) {
	throw new Error("About content not found");
}

const { Content } = await render(about);
---

<Section id="nosotros" align="center" justify="center">
	<Container>
		<div>
			<ul>
				<li>{about.data.bullet1}</li>
				<li>{about.data.bullet2}</li>
				<li>{about.data.bullet3}</li>
				<li>{about.data.bullet4}</li>
			</ul>
		</div>

		<!-- CONTENIDO -->

		<div
			class="text-base sm:text-lg md:text-xl lg:text-[30px]/[34px] font-extralight leading-relaxed tracking-wide w-full max-w-prose"
		>
			<Content />
		</div>
	</Container>
</Section>
