---
import Section from "@/components/ui/Section.astro";
import Container from "@/components/ui/Container.astro";
import Carrusel from "@/components/ui/Carrusel.astro";

import { getEntry } from "astro:content";

const about = await getEntry("about", "about");

if (!about) {
	throw new Error("About content not found");
}

const bullets = about.data.bullets ?? [];
---

<!-- 🔹 SECCIÓN 1: CARRUSEL -->
<Section id="nosotros" align="start" justify="center">
	<Carrusel items={bullets} />
</Section>

<!-- 🔹 SECCIÓN 2: TEXTO -->
<Section align="center" justify="center">
	<Container
		className="flex flex-col items-center text-center gap-6 max-w-3xl"
	>
		<p class="text-base lg:text-2xl tracking-wide">
			{about.data.texto1}
		</p>

		<img src="/arbol.png" alt="Árbol" class="w-16 md:w-38 py-6" />

		<div class="text-base lg:text-2xl tracking-wide">
			{about.data.texto2}
		</div>
	</Container>
</Section>
