---
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "about");

if (!about) {
	throw new Error("About content not found");
}

const { Content } = await render(about);
---

<section
	id="about"
	class="h-dvh w-full flex items-end justify-start py-12 px-6 md:px-12 snap-start bg-[#F8F6E1] text-[#355C35]"
>
	<div class="max-w-4xl w-full">
		<div class="mb-6">
			<h2 class="text-4xl md:text-7xl font-[400] tracking-tight">
				{about.data.texto1}
			</h2>
			<h2 class="text-4xl md:text-7xl font-[400]">
				{about.data.texto2}
			</h2>
		</div>
		<div class="text-base md:text-2xl font-light leading-relaxed max-w-4xl">
			<Content/>
		</div>
		<a
			href="#contact"
			class="mt-6 inline-flex items-center gap-2 px-6 py-2 border border-[#355C35] rounded-full text-[#355C35] text-sm tracking-wide hover:bg-[#355C35] hover:text-[#F8F6E1] transition-all duration-300"
		>
			Solicitar catálogo
		</a>
	</div>
</section>
