---
import Section from "@/components/ui/Section.astro";
import Container from "@/components/ui/Container.astro";
import Button from "@/components/ui/Button.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("inicio", "inicio");

if (!about) {
    throw new Error("About content not found");
}

const { Content } = await render(about);
---

<Section
    id="presentacion"
    align="end"
    justify="start"
    className="relative overflow-hidden pt-16 sm:pt-20 md:pt-24 py-5 sm:py-7 md:py-12"
>
    <Container>
        <div class="relative z-10 mx-auto md:mx-0 text-center md:text-left">
            <h2
                class="type-h1 text-primario"
            >
                {about.data.linea1}
            </h2>
            <h2
                class="type-h1 text-primario"
            >
                {about.data.linea2}
            </h2>
        </div>

        <div
            class="relative z-10 prose type-body md:type-body-lg font-extralight w-full max-w-prose text-primario mx-auto md:mx-0 text-center md:text-left"
        >
            <Content />
        </div>

        <div class="relative z-10 flex flex-col sm:flex-row gap-4 sm:gap-6 mt-2 justify-center sm:justify-start">
            <!-- <Button className="w-full sm:w-auto" href="https://wa.me/523312843496?text=Hola%20quiero%20más%20información"> → Enviar mensaje </Button> -->
            <Button className="w-full sm:w-auto" href="#contacto"> → Contáctanos</Button>
        </div>
    </Container>
</Section>
