---
import Section from "@/components/ui/Section.astro";
import Container from "@/components/ui/Container.astro";
import { getEntry } from "astro:content";

const servicios = await getEntry("servicios", "servicios");

if (!servicios) {
	throw new Error("servicios content not found");
}

const projects = servicios.data.servicios_lista ?? [];
---

<Section id="servicios" align="end" justify="start">
	<Container className="lg:max-w-400">
		<div class="mb-10 max-w-170">
			<p class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl font-light tracking-tight text-primario font-serif">
				{servicios.data.encabezado}
			</p>
		</div>

		<div class="grid gap-y-12 md:grid-cols-2 md:gap-x-16">
			{projects.map((servicio) => (
				<div class="max-w-xl text-left mx-auto md:mx-0">
					<p class="mb-6 text-xl md:text-4xl font-serif font-medium tracking-tight text-primario">
						{servicio.titulo}
					</p>
					<p class="text-base md:text-2xl leading-8 text-primario/80 tracking-wide">
						{servicio.descripcion}
					</p>
				</div>
			))}
		</div>
	</Container>
</Section>
