---

---

<section
    id="welcome"
    class="min-h-dvh w-full flex items-center justify-center px-6 md:px-12 snap-start bg-[#F8F6E1] text-[#355C35]"
>
    <div class="flex flex-col
		justify-center
		items-center">
        <img class="w-64" src="/Logo.svg" alt="Logotipo Vivero Tres Garzas" />
    </div>
</section>
