---
import Section from "@/components/ui/Section.astro";
import Container from "@/components/ui/Container.astro";
import Button from "@/components/ui/Button.astro";

import { getEntry, render } from "astro:content";

const about = await getEntry("inicio", "inicio");

if (!about) {
    throw new Error("About content not found");
}

const { Content } = await render(about);
---

<Section
    id="inicio"
    align="end"
    justify="start"
    className="relative overflow-hidden"
>
    {
        about.data.fondo && (
            <img
                src={about.data.fondo}
                class="absolute inset-0 w-full h-full object-cover scale-105 blur-md"
            />
        )
    }

    <!-- overlay para contraste -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- contenido -->
    <Container>
        <div>
            <h2
                class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl font-light tracking-tight text-fondo"
            >
                {about.data.linea1}
            </h2>
            <h2
                class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl font-light tracking-tight text-fondo"
            >
                {about.data.linea2}
            </h2>
        </div>

        <div
            class="text-sm sm:text-sm md:text-md lg:text-3xl font-extralight leading-relaxed tracking-wider w-full max-w-prose text-fondo"
        >
            <Content />
        </div>

        <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 mt-2">
            <Button className="w-full sm:w-auto" variant="inverse"> → Enviar mensaje </Button>
            <Button className="w-full sm:w-auto" variant="inverse">→ Solicitar catálogo</Button
            >
        </div>
    </Container>
</Section>
