---
import Section from "@/components/ui/Section.astro";
import Logo from "@/components/ui/svg/Logo.astro";
import { getEntry } from "astro:content";

const about = await getEntry("inicio", "inicio");

if (!about) {
    throw new Error("About content not found");
}
---

<Section
    id="inicio"
    align="center"
    justify="center"
    className="relative overflow-hidden min-h-[80vh]"
>
    {
        about.data.video ? (
            <video
                src={about.data.video}
                class="absolute inset-0 w-full h-full object-cover object-[45%_50%] sm:object-[50%_50%]"
                autoplay
                muted
                loop
                playsinline
            ></video>
        ) : about.data.fondo && (
            <img
                src={about.data.fondo}
                class="absolute inset-0 w-full h-full object-cover"
            />
        )
    }

    <div class="absolute inset-0 bg-olive-900/15"></div>

    <div class="relative z-10 flex min-h-[80vh] items-center justify-center px-4 py-12">
        <Logo class="w-56 sm:w-72 md:w-80 text-fondo drop-shadow-[0_30px_70px_rgba(0,0,0,0.5)]" />
    </div>
</Section>
