---
import "@/styles/global.css";
import Header from "@/components/ui/Header.astro";
import UnderConstructionBanner from "@/components/UnderConstructionBanner.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Vivero Tres Garzas</title>
	</head>
	<body>
		<!-- <UnderConstructionBanner /> -->
		<Header />
		<slot />
	</body>
</html>
