---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props as Props;
---

<div
    class={`relative z-10 w-full md:max-w-2xl lg:max-w-5xl flex flex-col gap-3 lg:gap-6 ${className}`}
>
    <slot />
</div>
